Q1. ## FOR LOOP -The For loop is used to run a block of code for a certain number of times. it is used to iterate over any 
    ## sequences such as list, string, tuple etc.
    ## EXAMPLE

In [6]:
A = [1,2,3,4,5,6,7,8]
for a in A :
    print (a)

1
2
3
4
5
6
7
8

## WHILE LOOP - While loop is used to run a block code until a certain condition is met.
## a while loop evaluates the contion. if the condition evaluates to true, the code inside the while loop is executed.
## condition is evaluadted again. the process continues until the contion is false. when condition evaluates to false, the loop stops.
##EXAMPLE

In [10]:
a = 1
while a <= 8:
    print (a)
    a = a+1

1
2
3
4
5
6
7
8

Q2 . using for loop

In [7]:
# sum of 10 natural number
a = [1,2,3,4,5,6,7,8,9,10]
b = 0
for i in a:
    b= b+i
print(b)

55

In [8]:
# product of 10 natural number
a = [1,2,3,4,5,6,7,8,9,10]
b = 1
for i in a:
    b = b*i
print(b)

3628800

using While loop

In [4]:
# sum fo n natural number
print("Enter the Value of n:")
n = int(input())
sum = 0
counter = 1
while counter <= n:
    sum = sum + counter
    counter = counter + 1
print("total",sum)

Enter the Value of n:

 5

total 15

In [1]:
# product of n natural number
print("Enter the number of n:")
n = int(input())
product = 1
while n > 0:
    product = product * n
    n = n-1
print("total", product)

Enter the number of n:

 4

total 24

Q3. bill code

In [11]:
unit = int(input("Enter your Bill unit:"))
if unit <= 100:
    bill = unit * 4.5
elif unit >=101 and unit <=200:
    bill = 450 + ((unit - 100) * 6)
elif unit >=201 and unit <=300:
    bill = 450 + 600 + ((unit- 200) * 10)
else:
    bill = 450 + 600 + 1000 + ((unit-300) * 20)
print(bill)

Enter your Bill unit: 310

2250

In [2]:
#Q4.
l= []
for i in range(1,101):
    l.append(i**3)
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [3]:
l1 = []
for i in l:
    if(i % 4 == 0 or i % 5 == 0):
        l1.append(i)
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [7]:
#Q5.   
a = "I want to become a data scientist"
b = a.lower()
count = 0
c = ["a", "e", "i", "o", "u"]
for i in b:
    if i in c:
        count = count+1
print("vowels in the below-given string:", count)

vowels in the below-given string: 12